<Router AppAssembly="@typeof(App).Assembly">
    <Found Context="routeData">
        @if (routeData.PageType == typeof(Pages.Login)
                || routeData.PageType == typeof(Pages.Register)
                || routeData.PageType == typeof(Pages.ForgotPassword))
        {
            <RouteView RouteData="@routeData" />
        }
        else
        {
            <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
        }
    </Found>
    <NotFound>
        <LayoutView Layout="@typeof(MainLayout)">
            <p>Sorry, there's nothing at this address.</p>
        </LayoutView>
    </NotFound>
</Router>
